<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="wp71" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="wp71" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="wp71" />
  <package id="RestSharp" version="104.1" targetFramework="wp71" />
</packages>