<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BindableApplicationBar" version="1.1.0.0" targetFramework="wp80" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="wp71" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>